<div id="<%= dom_id task %>">
  <div>
    <strong>Title:</strong>
    <%= task.title %>
  </div>

  <div>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </div>

  <div>
    <strong>Completed:</strong>
    <%= task.completed %>
  </div>

</div>
